.input-name {
  border-radius: 25px;
  height: 50px;
  background-color: #f2f2f2;
  color: black;
  border: none;
  width: 300px;
  padding-left: 2em;
}

.input-name:focus {
  outline: none;
}

.input-name::placeholder {
  color: black;
  opacity: 0.3;
}
