.btn {
  border-radius: 2em;
  font-size: 0.8rem;
  font-family: "Metropolis", Arial, Helvetica, sans-serif;
  padding: 1em 5em;
  /* width: 200px; */
}

.btn-solid {
  color: white;
  background: #fc6011;
  border: none;
}

.btn-outline {
  color: #fc6011;
  border: 2px solid #fc6011;
  background: none;
}
