<div class="card-container" tabindex="0">
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>

  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611548949444-2725b6b80c2e?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Oners</div>
  </div>

  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
  <div class="card-wrapper">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1611657193959-c3efdb2f988f?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
    />
    <div class="card-caption">Offers</div>
  </div>
</div>
