.welcome {
  background: url("../../assets/Backgroundicons.svg");
  height: 100vh;
  width: 100vw;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  display: grid;
  /* justify-content: center;
  align-items: center; */
  place-items: center;

  color: var(--color-font-primary);
}

.logo-title-group {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  /* display: grid; */
  /* justify-content: center;
  align-items: center; */
  /* place-items: center; */
  text-align: center;
}

.logo-name-color {
  color: var(--color-main);
}

/* --color-font-primary: var(--color-font-primary);
--color-font-placeholder: #b6b7b7;
--color-light: #f2f2f2;
--color-facebook: #367fc0;
--color-google-plus: #dd4b39; */

.logo-image {
  width: 105px;
}

.logotitle {
  font-family: var(--font-logo);
  font-size: 36px;
  font-weight: bold;
  margin-top: 15px;
  letter-spacing: 0.05em;
}

.subtitle {
  color: var(--color-font-primary);
  font-family: var(--font-subtitle);
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-top: 7px;
}
