/* Light */
/* @font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
    url("RobotoCondensed-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Condensed Light Italic"),
    local("RobotoCondensed-LightItalic"),
    url("RobotoCondensed-LightItalic.ttf") format("truetype");
} */

/* Normal */
/* @font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"),
    url("RobotoCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"),
    url("RobotoCondensed-Italic.ttf") format("truetype");
} */

/* Bold */
/* @font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("RobotoCondensed-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Condensed Bold Italic"),
    local("RobotoCondensed-BoldItalic"),
    url("RobotoCondensed-BoldItalic.ttf") format("truetype");
} */

@font-face {
  font-family: "Roboto";
  /* font-style: italic; */
  font-weight: 100;
  src: url("./assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/metropolis.woff2"), format("woff2"),
    url("./assets/fonts/metropolis/metropolis.woff"), format("woff"),
    url("./assets/fonts/metropolis/metropolis.ttf"), format("truetype");
}

:root {
  --color-main: #fc6011;
  /* --color-main: #11fc38; */
  --color-font-primary: #4a4b4d;
  --color-font-placeholder: #b6b7b7;
  --color-light: #f2f2f2;
  --color-facebook: #367fc0;
  --color-google-plus: #dd4b39;

  --font-logo: "Metropolis", Arial, Helvetica, sans-serif;
  --font-logo-subtitle: "Cabin", Arial, Helvetica, sans-serif;
  --font-main: "Cabin", Arial, Helvetica, sans-serif;
}

.color-logo-main {
  fill: var(--color-font-primary);
}
.color-logo-secondary {
  fill: var(--color-main);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
