@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --color-main: #fc6011;
  /* --color-main: #11fc38; */
  --color-font-primary: #4a4b4d;
  --color-font-placeholder: #b6b7b7;
  --color-light: #f2f2f2;
  --color-facebook: #367fc0;
  --color-google-plus: #dd4b39;

  --font-logo: "Metropolis", Arial, Helvetica, sans-serif;
  --font-logo-subtitle: "Cabin", Arial, Helvetica, sans-serif;
  --font-main: "Cabin", Arial, Helvetica, sans-serif;
}

.color-logo-main {
  fill: var(--color-font-primary);
}
.color-logo-secondary {
  fill: var(--color-main);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
